body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  background-image: url("https://i.imgur.com/bS8KWFU.jpeg");
    color: #333;
}

header {
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

hero {
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}

hero-content h1 {
    font-size: 3em;
    margin: 0;
}

hero-content p {
    font-size: 1.5em;
    margin: 10px 0 20px;
}

hero-content btn {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

menu, about, contact {
    padding: 20px;
    color: white;
    text-align: center;
}

menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

menu-item {
    color: #ffffff;
    background: darkblue;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

menu-item img {
    width: 100%;
    border-radius: 5px;
    color: black;
}

about {
    color: white;
